<h2>Checkout</h2>


<form  [formGroup]="checkoutForm" (ngSubmit)="checkout()" >

    First Name <input type="text" formControlName="firstName" />

    
 State <select name="order.address.state" 
                formControlName="state"
                >
  
    <option *ngFor="let state of (states$ | async)" [value]="state.id">
        {{state.name}}
    </option>
</select>

City <select name="order.address.city" formControlName="city" >
    <option *ngFor="let city of (cities$ | async)" [value]="city.id">
        {{city.name}}
    </option>
</select>


<button type="submit">Save</button>


</form>


<pre>
    {{order | json}}
</pre>

<h5>saved order</h5>

<pre>
    {{order$ | async | json}}
</pre>